* {
  margin: 0;
  padding: 0;
}

.cards-container {
  padding: 20px;
}

.main-title {
  color: white;
  font-size: 75px;
}

.subtitle {
  color: white;
  margin-bottom: 20px;
}

.title-button {
  background-color: #444444;
  padding: 10px 30px;
  border: 0;
  border-radius: 20px;
  color: white;
  margin-bottom: 50px;
}

.title-button:hover {
  background-color: white;
  color: #444444;
  cursor: pointer;
}

.games-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 150px;
  background-color: #222222;
  border-radius: 20px;
  margin: 10px;
  overflow: hidden;
}

.videogames-image {
  max-width: 100%;
}

.card-text {
  margin: 10px;
}

.card-title {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-button {
  background-color: #444444;
  padding: 7px;
  border: 0;
  border-radius: 5px;
  color: white;
}
